# Ignorar carpetas específicas
data/raw/data_set_256/*
!data/raw/data_set_256/
data/raw/dataset_vertices_256/*
!data/raw/dataset_vertices_256/
data/interim_yolo/*
!data/

# Ignorar entornos virtuales
venv/

data.rar